<!DOCTYPE HTML>
<html>
	<head>
		<title>SEO</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body class="homepage">
			<div class="wrapper style1">
				<div id="header">
					<div class="container">
							<h1><a href="#" id="logo">SEO</a></h1>
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Blog</a>
										<ul>
											<li><a href="/Assignment1">SEO</a></li>
											<li><a href="/Assignment2">Difference</a></li>
											<li><a href="/Assignment3">Techniques</a></li>
											<li><a href="/Assignment4">Elements</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
	
					</div>
				</div>
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Assignment 1 </h2>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span></span>
									<h3>1. What is Search Engine Optimation</h3>
									<p>search engine optimization stands for “search engine optimization.” it's miles the method of getting site visitors from the “loose,” “natural,” “editorial” or “herbal” seek results on search engines like google.In standard, the sooner (or better ranked at the seek consequences page), and more often a site appears within the seek consequences listing,the more visitors it'll receive from the hunt engine's customers; those traffic can then be transformed into customers.</p>
								</li>
								
									<span></span>
									<h3>4. List some important SEO expectation</h3>
									*Set realistic goals<br>
   									*Measure the right thing<br>
   									*Set a baseline<br>
   									*Pulling it together
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span></span>
									<h3>2. Guidelines on how to read a Search Engine Results Page.</h3>
									<p> fine content material is, of direction, very crucial.<br>
   											 * work to be an professional, authority, and trustworthy in your industry.<br>
  											*  on line and offline recognition will impact your ranking.<br>
  										 	*  Your internet site does now not need to include all the contemporary bells and whistles, however should be functional. Make it easy for customers to locate the facts that they’re searching out.<br>
   											*  YMYL pages are viewed more severely.<br>
   											*  include appropriate supplemental content material in your site.<br>
   											*  advertisements are k as long as they do no longer disrupt the consumer experience, or distract from the primary content.<br>
   											*  make certain your website is cellular-friendly.<br>
   											* take a look at for damaged links.<br>
   											* save you or put off spam comments.<br>
   											* add clean content for your website.<br>
   											* replace stale or out-of-date content material<br>
   											* gather high quality purchaser critiques.<br>
   											* ensure your contact records is to be had on your internet site.<br>
  										 	* solution common user queries concisely, at the beginning of your article, and use structured statistics markup on your webpages.
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span></span>
									<h3>3.How SEO affects Business</h3>
									<p>in case you are in business, there are a few very real and precise to having a constant ongoing search engine optimization method.<br> For the primary time in history of advertising and marketing, customers are imparting up their real cause via the phrases that they kind into search engines like google.<br> And greater than ever earlier than, you can degree the result of your seo efforts as a advertising and marketing channel. while search engines dont price you for listing your net pages, making plans and imposing seo for your enterprise is absolutely no longer loose.<br> you will ned to spend the time, cash, and resources to do that the proper way.</p>
									<p>the coolest information is that this can help to procure a super advertising and marketing attain, attract more focused traffic, and measure the effect of your efforts in terms of a return to your investment.<br> increasingly more content seems on the net every 2d of regular.<br> And your costumers want search engines like google to assist make sense of all of it.<br> In reality, the bigger the internet receives, the more engines like google utilization continues to grow.<br> human beings seek to discover solutions to their questions.</p>
								</li>
								</li>
							</ul>

						</div>
					</div>
				</section>
			</div>
		
		</div>

	</body>
</html>
