<!DOCTYPE HTML>
<html>
	<head>
		<title>Assignment 2</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body>
			<div class="wrapper style1">
					<div id="header">
						<div class="container">
								<h1><a href="#" id="logo">SEO</a></h1>
								<nav id="nav">
									<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Assignments</a>
										<ul>
											<li><a href="Assignment1.html">Assignment 1</a></li>
											<li><a href="Assignment2.html">Assignment 2</a></li>
											<li><a href="Assignment3.html">Assignment 3</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
	
					</div>
				</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">
						<div id="content" class="8u skel-cell-important">
							<section>
								<header class="major">
									<h3>WHAT IS THE DIFFERENCE BETWEEN SEO AND SEM?</h3>
								</header>
								<p>The difference between SEO and SEM is simply that Search Engine Optimization is part of Search engine marketing or Search marketing as it is widely known. Both processes aim in increasing visibility in search engines.

								<h3>Briefly Discussed the Following SEO strategies listed:</h3>


								<h4>Domain name strategy</h4>
								<p>Using domain name services sets your business up for success where it all begins, your websites name. -A domain name strategy can add incredible value to the appearance of your website by taking advantage of the most visible component, the address. -You also need to establish and safeguard your domains so you have a secure presence online.</p>


								<h4>Linking Strategy</h4>
								<p>Links are an incredibly important factor to improve search performance, and they seem to be making a resurgence this year. If you have never executed a link building strategy its important to know all the facts, because link building is inherently risky, and only the highest quality of tactics are recommended. These resources will help beginners understand a bit more; it pays to read them before executing any campaign.</p>

								<h4>Title tags Strategy</h4>
								<p>Title tags are pretty much exactly what they sound like the title of the page. As a title, this tag should be used to describe what a user can expect to find on a particular page.When writing title tags with SEO in mind, your first goal should be to accurately describe the content of the page in question whether its a product, collection or informational page. Its also vital to find ways to naturally weave in relevant keywords into the tag whenever possible.</p>

								<h4>Meta description tags Startegy</h4>
								<p>A meta description is a type of meta tag used in HTML to describe what the web page is about. It appears as a quick snippet on the SERPs right beneath the link. Meta descriptions are not a ranking factor per se, as they have a very minimal impact on rankings, though they may have some impacts with personalized search results. Their main function is telling searchers what your web page is about. Having compelling meta descriptions aids in the click-through rate to your site. Think of your meta descriptions as a sales pitch for searchers, not as ranking factors for crawlers.</p>

								<h4>Alt tags Strategy</h4>
								<p>The Alt tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images. And while all of todays web browsing includes many types of graphics, the alt tag remains an important part of making a site accessible to all users. The alt tag  is a descriptive line of HTML code that describes an image on a web page so that the user knows what the image represents if the picture doesnt display correctly.</p>

								<h4>Search Engine Indexing Strategy</h4>
								<p>The indexing mechanism is latent semantic indexing. In latent semantic indexing search engines, determine the relationship between different entities or part of a blog content. By understanding this relationship between different entities, search engines understand the context meaning of the blog content easily. Once the content is understood properly by search engines, it is easy for them to return accurate results for long tail keywords.</p>

								<h4>IS IT POSSIBLE TO COMBINE STRATEGIES IF YES WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?</h4>
								<p>Yes, I would combine Keyword strategy and Meta description tags strategy because   is Keyword research is the first step to a successful SEO strategy. Those successful with SEO understand what people are searching for when discovering their business in a search engine and Meta tags still play a vital role in SEO. If you type any keyword into a search engine, you will see how that keyword is reflected in the title for that page.<p>
						

							</section>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>