<!DOCTYPE HTML>
<html>
	<head>
		<title>Assignment 3</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body>
			<div class="wrapper style1">
				<div id="header">
					<div class="container">
							<h1><a href="#" id="logo">SEO</a></h1>
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Assignments</a>
										<ul>
											<li><a href="Assignment1.html">Assignment 1</a></li>
											<li><a href="Assignment2.html">Assignment 2</a></li>
											<li><a href="Assignment3.html">Assignment 3</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
					</div>
				</div>
			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">
						<div id="content" class="8u skel-cell-important">
							<section>

									<h2>difference of ON-PAGE SEO and OFF-PAGE SEO.</h2><br>
								<p>The difference between ON-PAGE SEO and OFF-PAGE SEO is ON-PAGE SEO is is the practice of optimizing individual web pages in order to rank higher and earn more relevant traffic in search engines, And the OFF-PAGE SEO is efers to techniques that can be used to improve the position of a web site in the search engine results page (SERPs).</p><br>
								<h2>What are the techniques of ON-PAGE SEO.</h2><br>
								<p>1. Blog Post Title<br>
									This is the most important on-page SEO factor. The reason for this is because the more attractive and optimized your title is, the more people will click. And in general, the more clicks your post gets, the higher it will rank.
									You should try to use the targeted keyword or phrase toward the beginning of title (H1) tag, but if thats not possible, make sure its at least somewhere in the title.
									You should also not repeat the same keyword more than once in the title tag because you think it will help the article rank higher. It wont. It could actually hurt your ranking. Dont do it. And keep the title length to under 65 characters.<br><br><br>
							2. Post Permalink Structure<br>
							Making sure your URL is displayed correctly is an important on-page metric. Again, you should use your target keyword in the URL, and avoid using special characters, symbols, brackets, commas, etc. within the actual URL.
							Use dashes to differentiate the strings in your URL structure. These are called pretty permalinks and are supported by most web browsers.<br><br><br>
					3. Heading Tags<br>
					You should use heading tags to highlight various headings, sub-headings, and important points.
					In WordPress, the title tag is set at H1. You dont really need to use any more H1 tags anywhere in the article. One is enough. For section breaks, stick to H2 and H3 tags. Also, don’t use too many H2 or H3 tags as Googles algorithms wont like that.
					Here is what Googles Matt Cutts has to say about repeating heading tags:<br><br><br>
 
				4. Keyword Density<br>
				You should keep the keyword density around 1.5% percent with a mix of LSI keywords. But as Matt Cutts explains in the video below, there is no real magic formula.
				Use your main keyword once in the first paragraph and again in the last paragraph. And use it in the content where it makes sense.<br><br><br>
 
		5. Meta Tags<br>
		You should add a unique and relevant meta description with each blog post.
		Again, you should use your use targeted keyword in the meta description, but dont keyword spam your description. While search engines pick up on keywords, its also important for users to click on the post. You need to write user-friendly meta descriptions that make sense and are related to your post.
		With regards to meta keywords, Google has made it clear that they dont care about them. But some search engines, like Bing, may still care a little.
		Here is the official statement from Google regarding meta keywords:<br><br><br>
	6. Images<br>
	Image optimization does help a lot in driving traffic from image searches.
	Keywords in the image title and the alt text help to make your blog post more focused and targeted.
	And the more engaged a user is, the more likely theyll stick around, thus increasing your overall rank.
	But theres one very important point to note. Large images will slow down your site, and having a slow loading site will decrease your Google rank.<br><br><br>
		7. Word Count Per Post<br>
		Blog posts that dont have a lot of words typically dont perform well on search engines. Thats because theyre usually seen as being less informative.
		Ofcourse there are exceptions, but for a general information-based blog, creating posts with at least 500 words is pretty standard.  
		Its always better to be well-researched and overly informative than it is to not provide enough information. This is especially true if youre targeting highly competitive keywords.<br><br><br>
8. Internal Linking<br>
Place links to related posts from your blog inside of your blog posts.
Interlinking of blog posts will help your blog readers spend more time on your blog, and it will also help pass page rank to other pages of your site.
When interlinking, try to use a keyword as the anchor text, but be very careful not to overdo it.
Internal links that are relevant to the original post show search engines that you are providing extra information beyond what is being displayed in the content.
But make sure your interlinking is relevant and necessary.<br><br><br>
	9. External Linking<br>
		Apart from linking to your own blog posts, it is a great idea to link out to external websites as well. Again, only do this if the information on the external website is relevant to the information in your post.
		While linking out to external websites, you should link to trusted websites only. And if you have doubts about the authority or popularity of a website, you can use a nofollow tag to avoid passing your link juice to potentially bad sites.
		You should use dofollow links for trusted websites and nofollow links for those that are less trustworthy.<br><br><br>
10. Write Engaging Content<br>
		You should write engaging content.If youre trying to get by with low-quality content and trick search engines, you will surely fail.
		Your post should be a complete manual for that keyword. You should learn how to engage your audience in a way that works for them. Try asking your readers questions and answering them. Understand what they want to read, and then write that. If you are unable to write engaging content, people will not spend much time on your blog, your bounce rate will increase, and your rankings will plummet.

<h2>What are the techniques of OFF-PAGE SEO.</h2><br>
<p>1. Social Networking Sites<br>
Social Networking is bigger than ever these days! Sometimes known as Online Reputation Management, getting involved with social media sites is the fundamental step with which you begin to advertise, market and build your online reputation within your niche.
You need to sign up to the most popular social networking sites, such as; Facebook, LinkedIn, Twitter, Google+, etc., and create yourself a profile of your own<br><br><br>
2. Blogging<br>
Blogging is one of the best ways to promote your website online! By writing a blog for your website, you give a reason for visitors to keep returning to your site and keep up to date with your latest posts. It also helps search engines to crawl your site more frequently, as they have to update your latest blog post entries, which ultimately helps you rank higher in search engine results pages (SERPs).<br><br><br>
3. Blog Marketing<br>
Post comments on other blogs within the same niche as yours, which allow you to add a link in the comments section. These links can then be crawled by search engines, helping to point them towards your site.  These blogs are commonly referred to as Do-Follow Blogs (Just like ours, where you can comment below!).<br><br><br>
4. Forum Marketing<br>
Find forums online that are related to your sites niche and get involved within that community. Reply to threads, answer peoples questions, offer advice, etc. This all helps to build up your reputation as someone who is an expert within that niche. Try to use Do-Follow Forums so that you can include a link to your site within your signature, which helps search engines crawl your site.<br><br><br>
5. Search Engine Submission<br>
Search engines will eventually find your site online, but that can take a while. To speed everything up, you should submit your website to the most popular search engines like Google, Yahoo, Bing, etc.<br><br><br>
6. Directory Submission<br>
Many people may say that directory submission is dead! I believe that it isnt as you are increasing the likely hood of people seeing your website. It is purely based on how effectively we are selecting those directories and how efficiently we are choosing the category for submission. You could submit to general directories, but for maximum effect, you are better off submitting to niche directories. Of course, I agree that it gives quite delayed results, but it is worth doing it.<br><br><br>
7. Social Bookmarking<br>
Social Bookmarking is another great way of promoting your website. Submit your latest blog posts and pages to the most popular bookmarking sites, like StumbleUpon, Digg, Delicious, Reddit, etc. Search engines really like these types of sites because the content on these sites is updated very frequently.
You should be very careful while doing this and you must properly handle the tags which are very essential to broadcast your news on a wide area network. This may increase your website traffic based on how effectively you have participated.<br><br><br>
8. Link Baiting<br>
Link baiting is another popular way of promoting your site. If you produce a really popular unique post for your site, then other people may want to link to it. Perhaps you have copied/published another websites content on your site, dont forget to place their website link as a reference. Do it for others and, if your content is trustworthy, let others do it for you. This is another way to increase your link popularity.<br><br><br>
9. Photo Sharing<br>
If you have used any of your own photos or images on your site, then you can share then on many of the major photo sharing websites like Flickr, Picasa, Photo Bucket, etc. Other people will be able to see them and comment on them, hopefully following a link to your site.<br><br><br>
10. Video Marketing<br>
Just like photo sharing, if you have any videos that you have used on your site, then you can submit them to sites like; YouTube, Vimeo, etc. allowing people to find your content in other ways.<br><br><br>
11. Business Reviews<br>
Write reviews about others businesses or ask your friends/clients to write a review of your business in major business review sites like RateitAll, Shvoong, Kaboodle, Stylefeeder, etc.<br><br><br>
12. Local Listings<br>
Depending on your sites niche, you might find that listing in local directories may be useful. You may have a website promoting your local business, therefore instead of going global and facing huge competition, listing your website locally, so that search engines can easily view your website and fetch the content, will be much better. This will help you to reach a targeted audience. Submit your website to sites like; Google Local, Maps, Yahoo Local, Yellow Pages, etc.<br><br><br>
13. Article Submission<br>
If you write your articles yourself, then you can submit them to popular article directory sites like; Ezine, Go Articles, Now Public, etc. This can help drive traffic to your site, whilst you can also gain some links to your site from other people (though its usually a slower process).<br><br><br>
14. Social Shopping Network<br>
If you run an e-commerce website, then a good strategy for advertising and branding your products for free is to submit then to online shopping networks. By submitting your products to sites like; Google Product Search, Yahoo Online Shopping, MSN Online Shopping, and other major social shopping network sites like Kaboodle, Style Feeder, etc. then you increase the likelihood of people finding the products that you are selling.<br><br><br>
15. Answer Questions<br>
You can actively participate in answering questions on sites like Yahoo Answers. By answering and asking relevant questions on your site niche, you help to build up your reputation as someone that is an expert in your chosen field. You can place a link to your website in the source section if necessary so that people can easily find your site. If you dont spam, this is another great way to increase your link popularity.</p>


							</section>
						</div>					
	</body>
</html>