<!DOCTYPE HTML>
<html>
	<head>
		<title>SEO Techniques</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body>
			<div class="wrapper style1">
				<div id="header">
					<div class="container">
							<h1><a href="#" id="logo">SEO</a></h1>
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Blog</a>
										<ul>
											<li><a href="/Assignment1">SEO</a></li>
											<li><a href="/Assignment2">Difference</a></li>
											<li><a href="/Assignment3">Techniques</a></li>
											<li><a href="/Assignment4">Elements</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
					</div>
				</div>
			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">
						<div id="content" class="8u skel-cell-important">
							<section>

									<h2>difference of ON-PAGE SEO and OFF-PAGE SEO.</h2><br>
								<p>The difference between ON-PAGE SEO and OFF-PAGE SEO is ON-PAGE SEO is is the practice of optimizing individual web pages in order to rank higher and earn more relevant traffic in search engines, And the OFF-PAGE SEO is efers to techniques that can be used to improve the position of a web site in the search engine results page (SERPs).</p><br>
								<h2>What are the techniques of ON-PAGE SEO.</h2><br>
								<p>1. weblog put up identify<br>
									that is the maximum essential on-page search engine optimization component. The purpose for this is because the greater appealing and optimized your identify is, the greater people will click. And in wellknown, the extra clicks your put up gets, the higher it'll rank.
									You ought to try to use the targeted keyword or phrase closer to the start of name (H1) tag, however if thats now not possible, make certain its as a minimum someplace inside the identify.
									You ought to also no longer repeat the identical keyword extra than once within the title tag because you watched it will assist the thing rank higher. It wont. it can certainly harm your ranking. Dont do it. And preserve the name duration to below sixty five characters.<br><br><br>
							2. submit Permalink shape<br>
							ensuring your URL is displayed efficiently is an important on-page metric. again, you have to use your target key-word within the URL, and keep away from using special characters, symbols, brackets, commas, etc. in the real URL.
							Use dashes to differentiate the strings to your URL shape. those are known as pretty permalinks and are supported by maximum internet browsers.<br><br><br>
					three. Heading Tags<br>
					You need to use heading tags to spotlight numerous headings, sub-headings, and vital factors.
					In WordPress, the title tag is about at H1. You dont really want to apply any extra H1 tags anywhere within the article. One is enough. For segment breaks, keep on with H2 and H3 tags. additionally, don’t use too many H2 or H3 tags as Googles algorithms wont like that.
					right here is what Googles Matt Cutts has to say about repeating heading tags:<br><br><br>
 
				four. keyword Density<br>
				You must preserve the keyword density round 1.5% percent with a mix of LSI key phrases. but as Matt Cutts explains in the video beneath, there's no actual magic formulation.
				Use your most important key-word as soon as inside the first paragraph and again within the final paragraph. And use it within the content wherein it makes sense.<br><br><br>
 
		5. Meta Tags<br>
		You should upload a unique and applicable meta description with every blog put up.
		once more, you have to use your use targeted key-word inside the meta description, but dont key-word unsolicited mail your description. even as search engines like google and yahoo pick up on key phrases, its additionally critical for customers to click on at the put up. You want to put in writing consumer-pleasant meta descriptions that make feel and are associated with your put up.
		on the subject of meta key phrases, Google has made it clear that they dont care approximately them. but some search engines, like Bing, may nonetheless care a bit.
		here is the official assertion from Google concerning meta keywords:<br><br><br>
	6. pictures<br>
	picture optimization does help loads in using visitors from picture searches.
	key phrases within the photo identify and the alt textual content help to make your weblog submit more targeted and focused.
	And the greater engaged a person is, the much more likely theyll stick around, as a consequence growing your overall rank.
	however theres one very critical factor to notice. big snap shots will slow down your web page, and having a gradual loading website online will decrease your Google rank.<br><br><br>
		7. word count number in keeping with post<br>
		weblog posts that dont have a number of words typically dont perform well on search engines. Thats because theyre generally seen as being less informative.
		Ofcourse there are exceptions, however for a wellknown records-based totally weblog, creating posts with at the least 500 words is pretty popular.  
		Its always better to be properly-researched and overly informative than it's miles to not provide enough information. that is specifically real if youre focused on fairly competitive keywords.<br><br><br>
eight. inner Linking<br>
location links to associated posts out of your blog internal of your weblog posts.
Interlinking of weblog posts will assist your blog readers spend greater time for your blog, and it will also help pass page rank to different pages of your website online.
whilst interlinking, try to use a keyword because the anchor textual content, however be very careful no longer to overdo it.
inner hyperlinks that are applicable to the authentic post display search engines that you are imparting greater facts beyond what's being displayed within the content.
however ensure your interlinking is applicable and important.<br><br><br>
	9. outside Linking<br>
		aside from linking to your very own weblog posts, it's miles a first rate idea to hyperlink out to external web sites as nicely. once more, only do this if the statistics at the external website is relevant to the information in your submit.
		whilst linking out to external web sites, you must link to depended on websites most effective. And if you have doubts approximately the authority or recognition of a website, you could use a nofollow tag to keep away from passing your link juice to probably awful web sites.
		You ought to use dofollow links for trusted websites and nofollow hyperlinks for the ones which are less sincere.<br><br><br>
10. Write engaging content material<br>
		You have to write enticing content.If youre seeking to get with the aid of with low-satisfactory content and trick search engines, you may in reality fail.
		Your submit ought to be a complete guide for that key-word. You have to learn how to have interaction your audience in a way that works for them. strive asking your readers questions and answering them. apprehend what they need to read, and then write that. in case you are unable to jot down engaging content, human beings will not spend a great deal time to your weblog, your soar charge will increase, and your rankings will plummet.

<h2>What are the techniques of OFF-page SEO.</h2><br>

<p>1. Social Networking sites<br>
Social Networking is larger than ever these days! sometimes known as on-line recognition control, getting concerned with social media web sites is the essential step with which you begin to put it up for sale, marketplace and build your on-line recognition within your niche.
You need to join up to the most famous social networking websites, along with; fb, LinkedIn, Twitter, Google+, and so on., and create your self a profile of your own<br><br><br>
2. running a blog<br>
running a blog is one of the satisfactory ways to promote your internet site on-line! with the aid of writing a blog in your website, you provide a cause for traffic to preserve returning to your website and keep up to date along with your modern-day posts. It additionally facilitates search engines like google to crawl your web site more regularly, as they ought to replace your modern blog publish entries, which in the end facilitates you rank better in search engine effects pages (search engines like google).<br><br><br>
three. blog advertising<br>
submit remarks on different blogs in the identical niche as yours, which let you upload a link within the comments section. these links can then be crawled with the aid of search engines, supporting to point them toward your web page.  those blogs are generally known as Do-comply with Blogs (similar to ours, where you may remark underneath!).<br><br><br>
four. discussion board marketing<br>
discover boards online that are associated with your websites niche and get involved within that network. respond to threads, solution peoples questions, offer recommendation, etc. This all enables to accumulate your recognition as someone who is an expert inside that niche. try to use Do-comply with forums so that you can include a link to your website online inside your signature, which allows search engines like google and yahoo crawl your web page.<br><br><br>
five. seek Engine Submission<br>
search engines like google will eventually discover your website online online, however that can take a while. to hurry the entirety up, you need to publish your internet site to the most popular search engines like google and yahoo like Google, Yahoo, Bing, and so on.<br><br><br>
6. directory Submission<br>
Many humans may say that directory submission is dead! I agree with that it isnt as you are increasing the possibly hood of humans seeing your website. it's miles basically primarily based on how efficaciously we are choosing the ones directories and the way effectively we are selecting the class for submission. you can submit to fashionable directories, but for maximum impact, you are higher off submitting to area of interest directories. Of route, I agree that it gives quite behind schedule results, but it's far really worth doing it.<br><br><br>
7. Social Bookmarking<br>
Social Bookmarking is any other first rate way of selling your internet site. submit your ultra-modern weblog posts and pages to the most popular bookmarking websites, like StumbleUpon, Digg, delicious, Reddit, and many others. search engines genuinely like those kinds of websites because the content on these web sites is up to date very regularly.
You need to be very cautious at the same time as doing this and also you have to well deal with the tags which are very essential to broadcast your information on a wide location network. this could growth your website site visitors based totally on how effectively you've got participated.<br><br><br>
eight. link Baiting<br>
hyperlink baiting is another famous way of selling your website. in case you produce a certainly popular specific submit on your site, then other people might also want to link to it. possibly you have got copied/posted some other websites content to your web site, dont forget about to place their internet site hyperlink as a reference. Do it for others and, if your content is honest, let others do it for you. that is some other manner to growth your hyperlink recognition.<br><br><br>
9. photo Sharing<br>
if you have used any of your own photographs or snap shots to your website, then you could proportion then on a few of the essential photo sharing web sites like Flickr, Picasa, photograph Bucket, and many others. different human beings might be capable of see them and touch upon them, with a bit of luck following a hyperlink in your website online.<br><br><br>
10. Video advertising<br>
similar to picture sharing, when you have any movies that you have used in your website, then you may publish them to sites like; YouTube, Vimeo, and so on. permitting human beings to discover your content material in different ways.<br><br><br>
11. commercial enterprise opinions<br>
Write opinions approximately others groups or ask your pals/clients to write a evaluate of your enterprise in predominant enterprise overview sites like RateitAll, Shvoong, Kaboodle, Stylefeeder, etc.<br><br><br>
12. neighborhood Listings<br>
depending in your websites area of interest, you might find that listing in nearby directories can be beneficial. you could have a internet site promoting your local commercial enterprise, therefore instead of going worldwide and going through large competition, listing your website locally, so that engines like google can without difficulty view your internet site and fetch the content, can be an awful lot higher. this could help you to reach a centered audience. submit your internet site to sites like; Google local, Maps, Yahoo neighborhood, phone book, and many others.<br><br><br>
thirteen. Article Submission<br>
if you write your articles yourself, then you could put up them to popular article listing sites like; Ezine, cross Articles, Now Public, and many others. this will assist power traffic in your web site, whilst you may additionally benefit some links for your website online from different human beings (although its normally a slower procedure).<br><br><br>
14. Social shopping community<br>
if you run an e-trade internet site, then an awesome strategy for advertising and marketing and branding your products at no cost is to publish then to online purchasing networks. via filing your products to web sites like; Google Product seek, Yahoo on-line buying, MSN on line buying, and other important social buying community websites like Kaboodle, style Feeder, and many others. then you definitely increase the likelihood of human beings locating the goods which you are promoting.<br><br><br>
15. answer Questions<br>
you may actively take part in answering questions about sites like Yahoo answers. by using answering and asking relevant questions on your web page niche, you assist to build up your recognition as a person that is an professional in your preferred subject. you can place a hyperlink to your website inside the supply section if necessary so that people can effortlessly locate your website online. in case you dont unsolicited mail, this is any other incredible way to growth your hyperlink popularity.</p>

</section>
</div>					
</body>
</html>