<!DOCTYPE HTML>
<html>
	<head>
		<title>SEO Difference</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body>
			<div class="wrapper style1">
					<div id="header">
						<div class="container">
								<h1><a href="#" id="logo">SEO</a></h1>
								<nav id="nav">
									<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Blog</a>
										<ul>
											<li><a href="/Assignment1">SEO</a></li>
											<li><a href="/Assignment2">Difference</a></li>
											<li><a href="/Assignment3">Techniques</a></li>
											<li><a href="/Assignment4">Elements</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
	
					</div>
				</div>

			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">
						<div id="content" class="8u skel-cell-important">
							<section>
								<header class="major">
									<h3>WHAT IS THE DIFFERENCE BETWEEN SEO AND SEM?</h3>
								</header>
								<p>The difference between SEO and SEM is simply that Search Engine Optimization is part of Search engine marketing or Search marketing as it is widely known. Both processes aim in increasing visibility in search engines.

								<h3>Briefly Discussed the Following SEO strategies listed:</h3>


								<h4>domain call strategy</h4>
								<p>using area call services units your commercial enterprise up for fulfillment in which all of it starts, your websites call. -a domain call method can upload extremely good cost to the arrival of your internet site via taking benefit of the most visible thing, the deal with. -you furthermore may want to set up and shield your domain names so you have a at ease presence on-line.</p>


								<h4>Linking strategy</h4>
								<p>links are an incredibly essential thing to improve search overall performance, and they seem to be creating a resurgence this year. if you have by no means completed a link constructing method its crucial to recognise all the information, because link constructing is inherently volatile, and best the highest best of tactics are advocated. those resources will help beginners apprehend a piece more; it pays to examine them before executing any campaign.</p>

								<h4>identify tags method</h4>
								<p>name tags are pretty an awful lot precisely what they sound just like the name of the web page. As a identify, this tag need to be used to explain what a user can anticipate to find on a specific web page.when writing name tags with seo in mind, your first purpose need to be to correctly describe the content material of the page in query whether or not its a product, series or informational web page. Its additionally critical to discover approaches to naturally weave in relevant key phrases into the tag whenever possible.</p>

								<h4>Meta description tags Startegy</h4>
								<p>A meta description is a type of meta tag used in HTML to explain what the internet page is set. It appears as a brief snippet on the search engines proper under the link. Meta descriptions are not a ranking component consistent with se, as they have a completely minimal effect on rankings, though they'll have a few impacts with personalized search effects. Their fundamental feature is telling searchers what your net web page is set. Having compelling meta descriptions aids in the click on-thru price in your web site. consider your meta descriptions as a sales pitch for searchers, now not as rating factors for crawlers.</p>

								<h4>Alt tags strategy</h4>
								<p>The Alt tag is an older HTML coding approach originally estimated to make amends for users and browsers now not prepared to address photographs. And even as all of todays net browsing includes many sorts of photographs, the alt tag stays an critical a part of making a website available to all users. The alt tag  is a descriptive line of HTML code that describes an photograph on an internet web page so that the person knows what the photo represents if the picture doesnt show efficiently.</p>

								<h4>search Engine Indexing approach</h4>
								<p>The indexing mechanism is latent semantic indexing. In latent semantic indexing search engines like google and yahoo, determine the connection between exceptional entities or part of a blog content. via information this relationship among distinct entities, search engines like google recognize the context meaning of the weblog content material easily. as soon as the content is known properly via search engines like google, it is easy for them to return correct outcomes for lengthy tail keywords.</p>

								<h4>IS IT viable to mix techniques IF sure WHICH strategies might you like TO put into effect? WHY?</h4>
								<p>yes, i'd integrate key-word method and Meta description tags method due to the fact   is keyword research is the first step to a a hit search engine optimization method. the ones a hit with search engine optimization apprehend what human beings are attempting to find when coming across their business in a search engine and Meta tags still play a critical position in search engine optimization. in case you kind any key-word into a seek engine, you may see how that key-word is pondered inside the identify for that web page.<p>
						

							</section>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
