<!DOCTYPE HTML>
<html>
	<head>
		<title>SEO Jasper</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body class="homepage">
			
			<div class="wrapper style1">
					<div id="header">
						<div class="container">
								<h1><a href="#" id="logo">SEO</a></h1>
								<nav id="nav">
									<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">BLOG</a>
										<ul>
											<li><a href="/Assignment1">SEO</a></li>
											<li><a href="/Assignment2">Difference</a></li>
											<li><a href="/Assignment3">Techniques</a></li>
											<li><a href="/Assignment3">Elements</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
	
					</div>
				</div>

				<div id="banner">
					<section class="container">
						<h2>SEARCH ENGINE OPTIMIZATION</h2>
					</section>
				</div>
	</div>

		
		<div id="footer">
			<section class="container">
				<header class="major">
				<span> <font color="white" >||By: Seth Jasper A. Napalit || BSIT-3SE ||</span></font>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/jaspernapalit" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/jasperagosila" class="fa fa-twitter"><span>Twitter</span></a></li>
				</ul>
				
				</header>
				</section>
				</div>
				
			</section>
	</body>
</html>
